.login{
    width:37.90rem;
    margin:auto;

    background-color:white;
}

.Cierre{
    margin-bottom:5rem;
    margin-left:1rem;
    Position:relative;
    z-index: 3;
    background-color:white;
}

.Cierre span{
    font-size:var(--size17);
    font-weight: 400;
    color:var(--colorTextClaro);
    Position:relative;
    z-index: 3;
    margin-left:1rem;
}

.title{
    margin-top:7rem;
    margin-left:1rem;
    Position:relative;
    z-index: 3;
    background-color:white;
    
}

.title h3{
    font-size:2.5rem;
    font-weight: 800;
    color:var(--colorBlack);
    Position:relative;
    z-index: 3;
    margin-left:1rem;
}

.title h2{
    font-size:5.5rem;
    font-weight: 800;
    color:var(--colorBlack);
    Position:relative;
    z-index: 3;
}


.fondo{
    position:absolute;
    margin:auto;
    margin-top: 3rem;
    width: 37.8rem;
}